<!DOCTYPE HTML>
<html ng-app="swaasthWebApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>swaasthWebApp</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS files -->
    <link rel="stylesheet" href="css/master.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- TODO: Remove gulp partials, as angular supports partials in default -->
    @@include('./partials/_header.html')

    <!-- Section -->
    <section>
        <p style="font-size: 22px;">Sample angular page, Your good name please?</p>
        <p>
            <input type="text" ng-model="name" style="background: #fff; border: none; padding: 10px 15px;" />
            <span ng-hide="!name" style="font-size: 14px; margin: 30px 0 0 20px;">Welcome {{ name }}, You look great today!</span>
        </p>
    </section>

    @@include('./partials/_footer.html')

    <!-- JS files -->
    <script src="js/bower.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/application.js" type="text/javascript" charset="utf-8"></script>
    <!-- endbuild -->
</body>
</html>